<section class="player">
	<h2 class="player-title">2023年ドラフト、注目の選手たち</h2>

	<ul class="player-navi">
		<li class="player-navi__item"><a class="player-navi__link" href="#block1"><span class="player-navi__state">高校生</span></a></li>
		<li class="player-navi__item"><a class="player-navi__link" href="#block2"><span class="player-navi__state">大学生</span></a></li>
		<li class="player-navi__item"><a class="player-navi__link" href="#block3"><span class="player-navi__state">社会人</span></a></li>
	</ul>

	<div class="player-cards">
		<article class="player-card" id="block1"><img alt="有薗 直輝" class="player-card-image" height="220" src="../../img/special/draft2023/player_01.jpg" width="310">
			<p class="player-card-copy">Photo：野球太郎</p>

			<h3 class="player-card-name content-title">有薗 直輝 <span>（アリゾノ・ナオキ）</span></h3>

			<p class="player-card-text content-text">内野手　185cm　95kg　右投右打<br>
				千葉学芸高<br>
				高校通算本塁打70本（2021年8月末時点）の大型スラッガー。スイングスピードも速く広角に長打を放つことから自校のグラウンド練習では、フェンス越えは当たり前。入学直後から4番を担うも夏の甲子園は出場ならず。悔しさを胸にプロ志望を表明する。
			</p>
		</article>

		<article class="player-card"><img alt="風間 球打" class="player-card-image" height="220" src="../../img/special/draft2023/player_02.jpg" width="310">
			<p class="player-card-copy">Photo：野球太郎</p>

			<h3 class="player-card-name content-title">風間 球打<span>（カザマ・キュウタ）</span></h3>

			<p class="player-card-text content-text">投手　182㎝　81㎏　右投左打<br>
				ノースアジア大明桜高<br>
				スライダー、カーブ、チェンジアップ、フォークと変化球を投げ分けるだけでなく、MAX157キロの直球も魅力の本格派右腕。夏の甲子園では2回戦で明徳義塾に敗れるも今大会最速152キロをマーク。より評価を上げた。プロ志望を表明。
			</p>
		</article>

		<article class="player-card"><img alt="小園 健太" class="player-card-image" height="220" src="../../img/special/draft2023/player_03.jpg" width="310">
			<h3 class="player-card-name content-title mt">小園 健太<span>（コゾノ・ケンタ）</span></h3>

			<p class="player-card-text content-text">投手　184cm　89㎏　右投右打<br>
				市和歌山高<br>
				センバツ2試合で防御率0.64。球速は147キロを計測。全国高校野球選手権和歌山大会決勝では智辯和歌山に敗れ春夏連続の甲子園出場はならなかった。プロの世界で悔しさを晴らす。</p>
		</article>

		<article class="player-card"><img alt="達 孝太" class="player-card-image" height="220" src="../../img/special/draft2023/player_04.jpg" width="310">
			<h3 class="player-card-name content-title">達 孝太<span>（タツ・コウタ）</span></h3>

			<p class="player-card-text content-text">投手　193cm　85㎏ 右投右打<br>
				天理高<br>
				MAX148キロの直球とフォークが武器の本格派右腕。秋の近畿大会では大阪桐蔭相手に10奪三振。手足の長さ、将来性に期待を寄せる。全国高校野球選手権奈良大会準決勝で高田商に敗れ夏の甲子園出場はならず。将来の夢はトップメジャーリーガー。
			</p>
		</article>

		<article class="player-card"><img alt="森木 大智" class="player-card-image" height="220" src="../../img/special/draft2023/player_05.jpg" width="310">
			<h3 class="player-card-name content-title">森木 大智<span>（モリキ・ダイチ）</span></h3>

			<p class="player-card-text content-text">投手　184cm　87㎏ 右投右打<br>
				高知高<br>
				最速154キロの剛腕。中学時代に軟式史上最速150キロを記録し、全国大会で春夏連覇も達成した元スーパー中学生。春季高知大会決勝では当時自己最速の152キロを記録し県大会優勝へ導く。全国高校野球選手権高知大会決勝で明徳義塾に敗れ今年の夏の甲子園へは出場ならず。
			</p>
		</article>

		<article class="player-card" id="block2"><img alt="隅田 知一郎" class="player-card-image" height="220" src="../../img/special/draft2023/player_06.jpg" width="310">
			<h3 class="player-card-name content-title">隅田 知一郎<span>（スミダ・チヒロ）</span></h3>

			<p class="player-card-text content-text">投手　176cm　76kg 左投左打<br>
				波佐見高→西日本工業大<br>
				九州№１左腕。持ち球はカーブ、スライダー、カットボール、ツーシーム、チェンジアップ、スプリットで全球種が勝負球に使える。大学に入って頭角を現した。</p>
		</article>

		<article class="player-card"><img alt="正木 智也" class="player-card-image" height="220" src="../../img/special/draft2023/player_07.jpg" width="310">
			<h3 class="player-card-name content-title">正木 智也<span>（マサキ・トモヤ）</span></h3>

			<p class="player-card-text content-text">内野手　182cm　87kg 右投右打<br>
				慶応義塾高→慶応義塾大<br>
				今春リーグでは４本塁打。大学選手権は準決勝と決勝で2試合連続本塁打を放ちＭＶＰに選ばれた。</p>
		</article>

		<article class="player-card" id="block3"><img alt="森  翔平" class="player-card-image" height="220" src="../../img/special/draft2023/player_08.jpg" width="310">
			<h3 class="player-card-name content-title">森 翔平<span>（モリ・ショウヘイ）</span></h3>

			<p class="player-card-text content-text">投手　177cm　80kg　左投左打<br>
				鳥取商業高→関西大→三菱重工West<br>
				関西大では明治神宮大会決勝で慶応義塾大に敗れたが8回途中まで5安打6奪三振。最速149キロの左腕。社会人２年目の今季、ドラフト候補に。甲子園出場はなし。</p>
		</article>

		<article class="player-card"><img alt="廣畑 敦也" class="player-card-image" height="220" src="../../img/special/draft2023/player_09.jpg" width="310">
			<h3 class="player-card-name content-title">廣畑 敦也<span>（ヒロハタ・アツヤ）</span></h3>

			<p class="player-card-text content-text">投手　175cm　79kg　右投右打<br>
				玉野光南高→帝京大→三菱自動車倉敷オーシャンズ<br>
				一年目で都市対抗に出場し、自己最速の154キロを記録した本格派右腕。回転数も多く、質の高い直球を投げ、連投もできる。都市対抗では若獅子賞(新人賞)、今春の東京スポニチ大会で最高殊勲選手を受賞と、社会人で実績を積んできた。
			</p>
		</article>
	</div>
</section>